/**
Style for WOO Product Table Admin Panel
*/
.plugin_name .plugin_version {
    color: white;
    background: #4CAF50;
    display: inline-block;
    padding: 1px 10px 3px 10px;
}

.wext_column>label.wext_label {
    color: #0c0c0c;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 700;
}
.wext_column {
    margin-bottom: 10px;
}
textarea#wext_shortcode_generate_input {
    width: 100%;
    background: white;
    font-family: inherit;
    height: 157px !important;
}
div.wrap.wext_wrap div.tab-content {
    background: rgba(255, 255, 255, 0.69);
    padding: 17px 10px;
}

/* Style for no Woocommerce message and highligh*/
.highlight {
background: rgb(255, 249, 197);
    border: 1px solid rgba(199, 179, 0, 0.56);
    padding: 18px;
    max-width: 500px;
}
h2.no_woocommerce_message {
    color: red;
    border: 2px solid red;
    padding: 20px;
    display: inline-block;
    clear: both !important;
}
/************Style for Sortable Start***************/
ul#wext_column_sortable>li {
}
li.wext_sortable_peritem,
li.hide_on_mobile_permits
{
    width: 100%;
    border: 0 none;
    padding-left: 0;
    display:  table;
    position:  relative;
    overflow:  hidden;
}
ul#wext_column_sortable>li.wext_sortable_peritem,
ul#wext_keyword_hide_mobile>li.hide_on_mobile_permits
{
    opacity: 0.5;
    display: flex;
}
ul#wext_column_sortable>li.wext_sortable_peritem{
    opacity: 0.92;
}
ul#wext_column_sortable>li.wext_sortable_peritem.enabled,
ul#wext_keyword_hide_mobile>li.hide_on_mobile_permits.enabled
{
    opacity: 1;
}


ul#wext_column_sortable,
ul#wext_keyword_hide_mobile
{
    background:  white;
    /*padding:  4px 0;*/
    margin: 0;
}

.wext_shortable_data,
.wext_mobile_hide_keyword
{
    transition: 0.3s all;
    width: 100%;
    padding: 12px 10px 8px 10px;
}
li.expanded_li .wext_shortable_data{
    padding: 20px 15px 15px 15px;
}
.wext_shortable_data
{
    background: transparent !important;
}
ul#wext_column_sortable li>span.handle,
ul#wext_keyword_hide_mobile li>span.handle
{
    background: #f9f9f9 no-repeat center center;
    width: 41px;
    position: relative;
    cursor: move;
}
ul#wext_column_sortable li>span.handle.checkbox_handle,
ul#wext_keyword_hide_mobile li>span.handle.checkbox_handle
{
    width: 52px !important;
    background: #ffffff none !important;
}
ul#wext_column_sortable li>span.handle.checkbox_handle>input.enabled,
ul#wext_keyword_hide_mobile li>span.handle.checkbox_handle>input.enabled
{
    margin-top: 0;
    padding: 0;
    background: #26d4ff;
    position: absolute;
    top: 24px;
    left: 32%;
}
ul#wext_column_sortable li>span.handle.checkbox_handle>input,
ul#wext_keyword_hide_mobile li>span.handle.checkbox_handle>input
{
    margin-top: 0;
    padding: 0;
    background: #eaeaea;
    position: absolute;
    top: 32%;
    left: 32%;
}
.wext_shortable_data>input{
    width: 80%;
}
.wext_shortable_data>input{
    background: #6c87940d;
    border: 1px solid #6c879438;
}

.wext_shortable_data>input{
    background: rgba(0, 118, 147, 0);
    border: 1px solid transparent;
}
.wext_shortable_data>input{
    font-weight: 500;
    color: #333333;
}
.enabled:hover .wext_shortable_data>input{
    border: 1px solid #00769324;
    font-weight: normal;
}

.expanded_li.enabled .wext_shortable_data>input {
    background: #00769314;
    border: 1px solid #00769324;
}


li.wext_sortable_peritem.ui-sortable-helper {
    border: 1px solid rgba(33, 150, 243, 0.54);
}
ul#wext_column_sortable li.wext_sortable_peritem.ui-sortable-helper>span.handle {
    background-color: rgba(33, 150, 243, 0.54);
}
/************Style for Sortable End***************/
/**Meta Values Extra Start Here**/
div#wext_meta_value_wrapper {
    background: #aabbcc40;
    padding: 10px;
    border: 1px solid #abc;
}
/**Meta Values Extra End Here Here**/


/**************Style for Shortcode Generator Section Start Here******************/
.wext_shotcode_gererator_buttor_wrapper {
    width:  100%;
    display:  block;
}

.shortcode_output {
    display:  block;
    width:  100%;
    margin-top: 9px;
}

.shortcode_output {}

.shortcode_output textarea#wext_output_of_shortcode {
    width:  100%;
    height: 129px;
    font-family: monospace;
}
/**************Style for Shortcode Generator Section End Here******************/


/****Admin section Right Side*****/
div.wext_rightside div.wext_right_side_in_wrapper {
    background: #ffffff;
    margin-left: 17px;
    border: 1px solid #efeded;
    margin-bottom: 17px;
}
div.wext_rightside img.rate_us_image {
    max-width: 100%;
}
.rate_us_wrapper h1 {
    color: #989898;
}
.need_help_wrapper h1 {
    color: #74d17b;
    font-weight: bold;
    font-size: 3em;
}
.need_help_wrapper a {
    color: #9c9c9c;
}
.need_help_wrapper>span{display: block;}
div.wext_rightside div.wext_right_side_in_wrapper>div {
    padding: 20px;
}

div.wext_rightside div.wext_right_side_in_wrapper>div>* {
    margin-bottom: 14px;
}


h2.social_title {
    color: #ff6000;
    margin: 6px 0 0 0;
    position:  relative;
    padding-left: 34px;
}

h2.social_title>img {
    width:  30px;
    position:  absolute;
    top: -8px;
    left:  0;
}

.social_title_wrapper p {
    color: #0ba50b;
    padding:  0;
    margin:  0;
    font-size: 14px;
}
.social_links>a {
    text-decoration:  none;
    display:  inline-block;
    background: #ffffff78;
    padding: 0 3px;
    transition: .3s all;
}
.social_links>a:hover {
    background: #00000078;
}
/*CSS for configure page 19.11.18*/
span.configure_section_title {
    font-size: 18px;
    width: 102%;
    background: #4CAF50;
    color: #f3f3f3;
    padding: 5px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
    padding-right: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    display: block !important;
}
.wext_config_form th {
    width: 300px;
    padding: 15px;
    text-align: left;
}
.wext_all_messages tr td input {
    width: 325px;
}
select.wext_fullwidth{
    min-width: 100px;
}

/*New style for Product Table Post Type : started at 4.1.1*/
p.wext_warning_message{
    background: #f5e56f;
    padding: 12px;
    color: #000;
    font-size: 30px;
    border: 1px solid #d00;
}

input.wext_meta_box_shortcode {
    font-size: 20px;
    color: #007692;
    min-width: 80%;
    background: #0076920a;
    border: 1px solid #00769266;
}
.wext_copy_button_metabox{
    font-size: 17px !important;
    padding: inherit !important;
    display: inline !important;
}

.wext_tab_content{display: none;padding-top: 15px;}
.wext_tab_content.tab-content-active{display: block;}
.wext_shortcode_gen_panel{
    width: 100%;
}
.break_space_large{display: block;visibility: hidden;height: 25px;background: transparent;}
.break_space,.break_space_medium{display: block;visibility: hidden;height: 15px;background: transparent;}
.break_space_small{display: block;visibility: hidden;height: 5px;background: transparent;}
@media only screen and (max-width: 800px){
    .wext_shortcode_gen_panel{width: 100%;}
}
body.post-type-wext_product_table div#message p>a{display: none !important;}
body.post-type-wext_product_table .readonly{cursor: not-allowed;}
input#wext_column_hide_unhide {
    background: #e9faff;
    padding: 4px !important;
    height: 25px !important;
    width: 25px !important;
    border: 1px solid #0e435d;
    margin: 0 10px !important;
}

/*for Textnomy/Custom Field Adding Button*/
.tax_cf_handle_wrapper {
    background: #ecf4ff;
    padding: 2px 11px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #bdcde2;
}

p.tax_cf_message {
    color: #e62786;
    font-size: 19px;
    margin: 3px 0 1px 0;
    font-weight: 300;
    background: #e8ddff;
    display: block;
    padding: 0 5px;
}

div#tax_cf_manager {display: block;clear: both;padding-bottom: 10px;}

.tax_cf_manager_column {
    width: 31%;
    display: inline-block;
    height: 40px;
    min-width: 281px;
    margin-top: 7px;
}

.tax_cf_manager_column label {
    font-weight: bold;
    display: block;
}

.tax_cf_manager_column.tax_cf_manager_choose_column {}

.tax_cf_manager_column select,.tax_cf_manager_column input {
    width: 100% !important;
}

.tax_cf_manager_column.tax_cf_manager_choose_column {
    width: 20% !important;
}
a#tax_cf_adding_button {
    display: inline-block;
    margin-top: 5px;
    padding: 3px 10px;
    height: 37px !important;
    font-size: 17px;
    text-transform: uppercase;
    background: #02a5f3;
    box-shadow: 1px 2px 3px #006799;
    border: 1px solid #32373c96;
}
a#tax_cf_adding_button:hover {
    background: #04a8f7;
    box-shadow: 1px 2px 3px #003c58;
    border: 1px solid #158aff96;
}
p.tax_cf_suggesstion {
    margin: 2px 0 -12px 0;
}

/*Template Design Part*/
div.wext_customized_style_box_wrapper tr.wext_table_style_title {
    background: rebeccapurple;
}

div.wext_customized_style_box_wrapper tr.wext_table_style_title th {
    color: white;
    padding: 3px !important;
}
div.wext_customized_style_box_wrapper .regular-text {
    width: initial;
}
div.wext_customized_style_box_wrapper select{
    min-width: 90px;
}
div.wext_customized_style_box_wrapper .select2-container{min-width: 140px;}
.wext_table_style_reset_wrapper {
    text-align: right !important;
    display: block;
    background: #e8daa57a;
    min-height: 39px;
    padding: 8px;
}

.wext_table_style_reset_wrapper a {
    margin-left: 20px !important;
    display: inline-block !important;
    margin-top: 4px !important;
}

.wext_table_style_reset_wrapper p {
    display: inline-block;
    color: #a50300;
    margin: 0;
}
.wext_table_style_reset_wrapper a.wext_style_reset_button{
    color: #fff;
    border-color: #a01b1b;
    background: #f34a4a;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
}
table tr.wext_hidden{display: none !important;}
span.wext_keyword {
    position: absolute;
    top: -1px;
    color: #888888;
    left: 48px;
}
#wext_column_sortable span.wext_column_cross {
    color: white !important;
    background: #ab4f01;
    width: 19px;
    height: 15px;
    display: inline-block;
    text-align: center;
    padding: 2px 0;
    cursor: pointer;
    opacity: 1;
    font-size: 11px;
    display: none;
}
ul#wext_column_sortable>li.wext_sortable_peritem:hover span.wext_column_cross{display: inline-block;}

.highlighted_text{color: #d00;}

/*Style For Update Active Option Start*/
.purchase_status .updated.notice.notice-success {
    padding: 10px;
    font-weight: 500;
    font-size: 24px;
    color: #46b450;
}
.purchase_status .updated{padding: 10px;}
span.purchase_code_inactive {
    color: white;
    background: #dd0000;
    padding: 6px 10px;
    border-radius: 7px;
}
span.purchase_code_active {
    color: white;
    background: #46b450;
    padding: 6px 10px;
    border-radius: 7px;
}
.updater_warning_message {
    font-size: 15px;
    color: #a06000;
    background: #ffeb3b24;
    padding: 20px 10px !important;
    border-bottom: 2px solid #ffb900;
}

/*Style For Update Active Option End*/

/* Tooltip Text */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltip-hover {
    visibility: hidden;
    width: 350px;
    background-color: #007694;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}
.tooltip .tooltip-hover::after {
    content: "";
    position: absolute;
    top: 30%;
    left: -5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #007cba transparent transparent;
}
.tooltip:hover .tooltip-hover {
    visibility: visible;
}
.tooltip .tooltip-hover a {
    color: #fff;
    font-weight: 500;
}
.wext_colunm_type {
    text-align: right;
    color: #0000009c;
    position: absolute;
    right: 61px;
    top: 10px;
    z-index: 0;
}
.column_warning{
    color: #c10098ad;
    margin: 3px 0;
    padding: 5px;
    background: #e5e5e5;
}
.wext_column_setting_extra {
    /* padding: 0 10px 16px 10px; */
    background: transparent;
    width: calc(100% - 20px);
    background: #ffffffd9;
    margin-top: 21px;
    /* border: 1px solid #dddddd91; */
    margin-bottom: 5px;
}
.wext_column_setting_single_extra {
    margin-top: 10px;
    background: transparent;
    width: 100%;
}
.wext_column_setting_single_extra>div {
    margin-top: 10px;
}
.wext_column_setting_extra input[type=text],
.wext_column_setting_single_extra input[type=text]{width: 100%;}
ul#wext_column_sortable>li.wext_sortable_peritem {
    position: relative;
    display: flex;
    padding: 0;
}
ul#wext_column_sortable>li.wext_sortable_peritem {
    border-top: 0 none; 
    box-shadow: 0px 1px 16px 0 #bbbbbb9c;
}
ul#wext_column_sortable li.wext_sortable_peritem.enabled>span.handle, ul#wext_keyword_hide_mobile li>span.handle {
    background: #e8e8e840 no-repeat center 20px;
}
.checkbox_parent {
    display: inline-block;
    padding: 0;
    width: 100%;
}
.checkbox_parent.ui-sortable label,
.wext_responsive_each_wraper .responsive_each{
    cursor: move;
}
.checkbox_parent.ui-sortable label{
    width: 95%;
    display: inline-block;
}
.checkbox_parent.ui-sortable label:hover, 
.wext_responsive_each_wraper .reslponsive_each:hover {
    background: #0076920d;
}
.checkbox_parent.ui-sortable label small, .wext_responsive_each_wraper .responsive_each small {
    opacity: .6;
}
.each_checkbox {
    cursor: move;
    display: block;
    padding: 2px 10px;
    width: 200px;
    max-width: 100%;
    background: #f1f1f12e;
    margin: 1px;
    float: left;
    white-space: nowrap;
    color: #000000;
    border: 1px solid #dddddd52;
    float: left;
}
.column_add_extra_items>label,
.wext_column_setting_extra>label,
.column_tag_for_all>label{
    display: block;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 7px;
    padding-top: 14px;
    padding-bottom: 6px;
    font-size: 16px;
}
.wext_column_setting_extra,.wext_column_setting_extra.off_now {
    display: none;
}
.wext_column_setting_extra.off_now{display: block;}
span.extra_all_on_off {
    position: absolute;
    bottom: 0px;
    right: 61px;
    
    display: block;
    padding: 1px 15px;
    cursor: pointer;
    background: #e9e9e9;
    color: #007692;
}
li.wext_sortable_peritem.enabled span.extra_all_on_off {
    
    
    background: #636161;
    color: white;
}
span.extra_all_on_off.off_now {
    background: #035367;
    border: 1px solid #007694;
    color: white;
    border-bottom: 0 none;
}

li.wext_sortable_peritem {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
li.wext_sortable_peritem.enabled {
    border: 0 none;
}


.wext_nav_tab small,
.wext_nav_tab i.wext_pro_badge,
table.wp-list-table.widefat.plugins tr.active[data-slug='woo-product-table'] div>span[class='0'],
table.wp-list-table.widefat.plugins tr[data-slug='product-table-for-woocommerce-woo-product-table-pro'] div>span[class='0'],
.wext_nav_tab i.wext_pro_only {
    background: #00cbff;
    position: absolute;
    top: -5px;
    right: -1px;
    padding: 0px 7px;
    color: #f1f1f1;
    line-height: 13px;
    border-radius: 2px;
    font-size: 11px;
    border: 1px solid #007694;
    bottom: unset;
}
table.wp-list-table.widefat.plugins tr.active[data-slug='woo-product-table'] div>span[class='0']>a,
table.wp-list-table.widefat.plugins tr[data-slug='product-table-for-woocommerce-woo-product-table-pro'] div>span[class='0']>a
{
    color: white;
    padding-right: 0;
    margin-right: -11px;
}

table.wp-list-table.widefat.plugins tr.active[data-slug='woo-product-table'] div>span[class='0'],
table.wp-list-table.widefat.plugins tr[data-slug='product-table-for-woocommerce-woo-product-table-pro'] div>span[class='0']{
    position: static;
    margin-right: 8px;
}
table.wp-list-table.widefat.plugins tr.active[data-slug='woo-product-table'] div>span[class='0']:hover,
table.wp-list-table.widefat.plugins tr.active[data-slug='product-table-for-woocommerce-woo-product-table-pro'] div>span[class='0']:hover{
    background: #00a6d0;
}
.wext_nav_tab i.wext_pro_badge {
    background: #f44336;
    border: 0 none;
    font-size: 8px;
    padding: 0 6px;
}
.wext_nav_tab i.wext_pro_only {
    font-size: 8px;
    padding: 0 5px;
    font-weight: 400;
    line-height: 10px;
}
.wext_nav_tab span {
    color: red;
    font-size: 10px;
    text-decoration: underline;
}


.wext_nav_tab {
    position: relative;
}

/*Inside Column Tab Start*/
.inside-column-settings-wrapper {
    display: block;
    width: 100%;
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
}
.inside-column-settings-wrapper {}

.inside-column-settings-wrapper .inside_tab_content {
    padding: 15px 20px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ddd;
    /* background: #ddd; */
    margin-bottom: 35px;
    box-shadow: 0 10px 20px 0 #00000026;
    display: none;
}
.inside-column-settings-wrapper .inside_tab_content.tab-content.tab-content-active{display: block;}
.inside-column-settings-wrapper .inside_tab_content.tab-content {
    /* display: block; */
    width: 100% !important;
    /* display: flex; */
}

nav.inside-nav-tab-wrapper {
    display: block;
    width: 100%;
    clear: both;
}
nav.inside-nav-tab-wrapper a.nav-tab.nav-tab-active:hover{
    background: #e4e4e478;
    color: #8a7373;
}
.inside-column-setting-header h2{
    font-size: 20px !important;
    padding: 0 !important;
}

#inside-tablet ul#wext_column_sortable li.wext_sortable_peritem.enabled>span.handle, 
#inside-tablet ul#wext_keyword_hide_mobile li>span.handle {
    /*background-color: #000000;*/
}
#inside-mobile ul#wext_column_sortable li.wext_sortable_peritem.enabled>span.handle, 
#inside-mobile ul#wext_keyword_hide_mobile li>span.handle {
    /*background-color: #4c4c4c;*/
}

nav.inside-nav-tab-wrapper a:hover {
    background: #d6d6d6;
    color: white;
}
nav.inside-nav-tab-wrapper a{cursor: pointer;}

nav.inside-nav-tab-wrapper:after {content: "";display: block;width: 100%;clear: both;}
/*Inside Column Tab End*/

.ultraaddons ul.wext-tag-list {
    padding: 0;
    margin: 0;
}
.ultraaddons ul.wext-tag-list li {
    display: inline-block;
}
.ultraaddons ul.wext-tag-list li input[type="checkbox"],
.wext_responsive_each_wraper .responsive_each input[type="checkbox"] {
    display: none;
}
.ultraaddons ul.wext-tag-list li label, .wext_responsive_each_wraper .responsive_each label {
    line-height: 1.5rem;
    background-color: #ffffff38;
    background-image: url(../images/icon-unchecked.png);
    vertical-align: middle;
    padding: 0px 10px;
    display: block;
    border-radius: 5px;
    border: 1px solid #84848433;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 4px 3px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
 .wext_responsive_each_wraper .responsive_each label{
     cursor: move !important;
 }
 
 .wext_responsive_each_wraper .responsive_each:hover label{
     background-color: #0076931a;
 }
 
.wext_responsive_each_wraper .responsive_each label{
    margin: 10px 0;
}

.ultraaddons ul.wext-tag-list li input[type="checkbox"]:checked + label,
.wext_responsive_each_wraper .responsive_each input[type="checkbox"]:checked + label {
    background-image: url(../images/icon-checked.png);
}
.ultraaddons-panel table tr td.responsive {
}
.ultraaddons-panel table tr td.responsive h3 {
}
.ultraaddons-panel table tr td.responsive .wext_responsive_each_wraper {
}
/*.wext_tab_content.tab-content table th {
    width: 250px !important;
    min-width: 200px;
}*/
div#wext_configuration_form .ultraaddons-panel {
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    */
}
div#wext_configuration_form select.wext_select2,
#wext_product_ids,
#wext_configuration_form span.select2.select2-container{width: 100% !important;}

span.wext_column_arrow {
    position: absolute;
    right: 0px;
    background: #eae7e7;
    z-index: 5;
    width: 13px;
    height: 17px;
    text-align: center;
    cursor: pointer;
}
span.wext_column_arrow.wext_arrow_down {
    bottom: 0px;
    top: unset;
}

span.wext_column_arrow.wext_arrow_top {
    top: 0px;
    bottom: unset;
}
ul#wext_column_sortable>li.wext_sortable_peritem:first-child span.wext_column_arrow.wext_arrow_top,
ul#wext_column_sortable>li.wext_sortable_peritem:last-child span.wext_column_arrow.wext_arrow_down{
    opacity: 0.4;
    cursor: not-allowed;
}

#wext_configuration_form input:checked + .slider:before {
    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(55px);
}
#wext_configuration_form .switch {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 29px;
}
/*#wext_configuration_form .ultraaddons-panel table tr th{
    width: 300px !important;
}*/

#wext_configuration_form .wext-panel {
    width: calc(100% - 43px);
}
.form_bottom.form_bottom_submit_button {
    text-align: right;
    margin: 0;
    padding-bottom: 0;
    width: calc(100% - 28px);
}





/**********FOR NOTIFICATION***********/
.wext_notify {
    position: fixed;
    z-index: 999999999;
    background: #02345da1;
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    text-align: center;
    padding-top: 25%;
    display: none;
}

.wext_notify h1, .wext_notify>h2,.wext_notify * {
    color: white;
}
body.wext_admin_bodys{background-color: white;}
.add_new_col_wrapper {
    box-sizing: border-box;
    display: flex;
    padding: 0 15px 15px 15px;
}

div#wext_configuration_form .add_new_col_wrapper .ultraaddons-panel {
    width: 100%;
}


body.wext_admin_body .nav-tab {
    background: #e5e5e569;
}
body.wext_admin_body .nav-tab-active, 
body.wext_admin_body .nav-tab-active:focus, 
body.wext_admin_body .nav-tab-active:focus:active, 
body.wext_admin_body .nav-tab-active:hover {
    border-bottom: 1px solid white !important;
    background: white;
    color: #000;
}
body.wext_admin_body .nav-tab-wrapper, 
body.wext_admin_body .wrap h2.nav-tab-wrapper, 
body.wext_admin_body h1.nav-tab-wrapper {
    padding-top: 15px;
}

#wext_shortcode_metabox_id .inside .wext-shortcode-box-inside {
    display: flex;
    margin: 10px 0;
}

div#wext_shortcode_metabox_id div a.wext_copy_button_metabox{
    display: flex;
    padding-left: 20px !important;
    padding-right: 20px !important;
    line-height: 19px;
    padding-top: 8px !important;
    background: #007693;
    border-color: #007693;
    margin-left: 10px;
}
body.wext_admin_body .wp-list-table td.wext_shortcode {
    display: flex;
}
p.wext_ctrl_s {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 31px;
    margin: 6px 0;
    font-weight: normal;
    background: #f9f9f9;
    padding: 4px 15px;
    color: #2bb3d4;
    border: 1px solid #ddd;
    cursor: help;
}
p.wext_ctrl_s:hover {
    background: #007693;
    color: #44dbff;
    border: 1px solid #007692;
}
span.wext_colunm_type>i {
    color: #00a2ca;
    border-radius: 4px;
}

.wext_admin_form_links {
    display: block;
    padding-top: 9px;
    font-size: 90%;
}
.wext_admin_form_links li {
    display: inline-block;
}
.wext_admin_form_links a {
    background: #f9f9f9;
    padding: 2px 8px;
    border-radius: 3px;
    border: 1px solid #ddd;
    text-decoration: none !important;
}
.wext_admin_form_links a:hover {
    background: #007692;
    border: 1px solid #007692;
    color: white;
}
.wext_admin_form_links a.wext_get_pro_form_top_link {
    color: #16cfff;
    border: 1px solid #007692;
    padding: 2px 15px;
    display: inline-block;
    border-radius: 10px;
    background: #007692;
    text-decoration: none;
    font-weight: bold;
    transition: .3s all;
    margin-right: 10px;
}
.wext_admin_form_links a.wext_get_pro_form_top_link:hover {
    color: #007692;
    border: 1px solid #00769269;
    padding: 2px 25px;
    border-radius: 3px;
    background: #f1f1f196;
}
.wext_admin_form_links a{text-decoration: none;}
.wext_admin_form_links a:hover{text-decoration: underline;}

.wext-column-info li {
    display: inline-block;
    margin: 5px 10px 5px 0;
}

.wext_select2_item_wrap {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 0;
}

.image.wext_item.wext_item_left {
    display: block;
    padding: 4px;
}

.details.wext_item.wext_item_right {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 12px;
}

.details.wext_item.wext_item_right>* {
    margin: 0;
}

.details.wext_item.wext_item_right>b {
    color: #00a900;
}

.details.wext_item.wext_item_right>p {
    color: #E91E63;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background: #2c3438;
    padding: 0;
    color: white !important;
    border-radius: 50%;
    height: 18px;
    width: 20px;
    font-size: 15px;
    line-height: 1;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding-bottom: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background: red;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 0;
    position: absolute;
    right: -20px;
    width: 20px;
    height: 24px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 17px;
    line-height: 18px;
    padding-bottom: 2px;
}
body.wext_admin_body .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #607D8B;
}
body.wext_admin_body .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    display: flex;
}
body.wext_admin_body .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 4px;
    margin: 5px;
    padding: 5px 10px;
    color: black;
    box-shadow: 1px 1px 3px 0px #0000003b;
    float: left;
}

body.wext_admin_body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    /* margin-top: 0px; */
}


body.wext_admin_body .ultraaddons-panel p {
    
    color: #888;
}
body.wext_admin_body .wext_auto_hide{
    display: none;
}

body.wext_admin_body .wext_shortable_data div p,
body.wext_admin_body .ultraaddons-panel td p{
    color: #607D8B;
    font-style: italic;
    font-size: 16px;
}
.wext-pro-only-featues {
    background: #a2a2a2;
}

.wext-pro-only-featues img {
    max-width: 100%;
    opacity: 0.7;
    height: auto;
    width: auto;
}
.wext-pro-only-featues:before {
    content: "Premium";
    z-index: 99;
    background: #ff00001f;
    color: white;
    text-align: center;
    position: absolute;
    background: #FF5722;
    padding: 6px 15px;
    box-shadow: 8px 4px 4px 0 #00000038;
}
select.wext_table_on_archive {
    margin-bottom: 15px;
}
.wext_tab_content.tab-content .table_disable_plugin_noti{
    display: none !important;
}
.wext_devloper_version {
    position: absolute;
    right: 148px;
    top: 13px;
    color: #aabbcc94;
    font-size: 10px;
}


/*new code from v2.7.8.2*/

ul#wext_column_sortable>li.wext_sortable_peritem{display: none;}
ul#wext_column_sortable>li.wext_sortable_peritem.enabled{display: flex;}

.add_switch_col_wrapper .enable-available-cols ul {
    display: flex !important;
    flex-wrap: wrap;
}

.add_switch_col_wrapper .enable-available-cols ul li {
    width: 160px;
}
.add_switch_col_wrapper .enable-available-cols ul li.switch-enable-item {
    /* height: 55px; */
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 5px;
    cursor: pointer;
    background: #ffffff;
    color: black;
    border-radius: 5px;
    padding: 5px 8px;
    border: 1px solid #ddd;
}
.add_switch_col_wrapper .enable-available-cols ul li.switch-enable-item.item-enabled {
    background: #07a7d0;
    color: white;
    border: 1px solid #007694;
}
li.switch-enable-item i {
    font-size: 10px;
    color: #d4d4d4;
    display: inline-block;
}
.add_switch_col_wrapper .enable-available-cols ul li.switch-enable-item.item-disabled {
    background: #e4e4e459;
    color: black;
}
.add_switch_col_wrapper .enable-available-cols ul li.switch-enable-item:after {content: "+";float: right;font-weight: bold;/* font-size: 16px; */box-sizing: border-box;/* position: absolute; *//* right: 5px; */}

.add_switch_col_wrapper .enable-available-cols ul li.switch-enable-item.item-enabled:after {content: "-";}

svg.octicon.octicon-mark-github.v-align-middle {
    margin-bottom: -3px;
}
span.fork-button-wext>a {
    font-size: 25px;
    color: #304a56;
    background: #dddddd52;
    padding: 22px;
    display: block;
    transition: all .3s;
    margin: 10px 0;
}
span.fork-button-wext>a:hover {
    color: #ffffff;
    background: #607D8B;
}
.wext-tips-github p {
    opacity: 0.6;
    margin: 0;
    padding: 0;
}
.add_switch_col_wrapper {
    box-sizing: border-box;
    display: flex;
}
div#wext_configuration_form .add_switch_col_wrapper .ultraaddons-panel {
    padding: 0;
    border: 0 none;
    margin-bottom: 0;
}

div#wext_configuration_form #column_settings .ultraaddons-panel{width: 100%;}
ul#wext_column_sortable>li.wext_sortable_peritem {
    background: #ffffff;
}
ul#wext_column_sortable>li.wext_sortable_peritem.ui-sortable-helper {
        /* background: #000000; */
    box-shadow: 0 1px 12px 0 #00000057;
    /* border-color: #100000;*/
}

/* Notice Style for UltraAddons*/
.wext-ultraaddons-notice {
    background: white;
    padding: 30px;
    box-shadow: 0 5px 40px 0 rgb(10 10 25 / 10%);
    -webkit-box-shadow: 0 5px 40px 0 rgb(10 10 25 / 10%);
    -moz-box-shadow: 0 5px 40px 0 rgb(10 10 25 / 10%);
    display: block;
}
.wext-ua-notice-wrapper {
    display: flex;
}

.wext-ua-logo-area img {
    max-width: 350px;
}

.wext-ua-message-area {
    padding: 20px 30px;
}
.wext-ua-message-area h2 {
    margin: 0;
    color: #4caf50;
    font-size: 1.5em;
}

.wext-ua-message-area p {
    color: #383838;
    font-size: 1.2em;
    font-style: italic;
    padding: 0;
    margin: 8px 0;
}

a.button {}

.wext-ua-message-area a.button {
    font-size: 18px;
    /*box-shadow: 0 5px 40px 0 rgb(10 10 25 / 22%);*/
    font-weight: 100;
    background: #4caf50;
    border-color: #409844;
    color: white;
}
.wext-ua-activate .wext-ua-message-area a.button {
    background: #ee3a8d;
    border-color: #ee3a8d;
    font-weight: 600;
}
/* Notice Style for UltraAddons | END*/

/* Export Import Features start */
.wext-import-textarea,
.wext-export-textarea{
    width: 100%;
    min-height: 100px;
}
/* Export Import Features end */

/* Responsive Design Starts */
@media screen and (max-width: 782px){
    .wext_column_setting_single_extra>div label {
        display: block;
        margin: 15px 0;
    }
    p.wext_ctrl_s{display: none;}
    #responsive td.responsive {
        display: block !important;
        width: 100%;
    }
}
body.wext_admin_body .ultraaddons-panel td .notice-for-variations{
    display: none;
    color: #34bcd2;
    font-weight: 700;
}
body.wext_admin_body div div .wext-tips {
    color: #19acef;
    font-size: 120%;
}
tr.user_can_not_edit:after {
    content: "pro";
    position: absolute;
    top: 0;
    left: 0;
    background: #ff5722;
    color: white;
    padding: 1px 10px;
    /*border-radius: 4px;*/
    opacity: .8;
    z-index: 150;
}
tr.user_can_not_edit{
    position: relative;
    display: table-row;
}
tr.user_can_not_edit input[disabled='disabled'] {
    opacity: 0.5;
}
tr.user_can_not_edit:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #78787824;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.wext-notice.wext-user-rating-notice {
    background: white url(../images/logo.png) no-repeat 5px 10px;
    background-size: 45px;
    padding-left: 65px;
    position: relative;
}
.wext-notice.wext-user-rating-notice:before {
    content: "";
    position: absolute;
    background: #4caf501f;
    width: 57px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.wext-user-rating-notice p.do-rating-area a{cursor: pointer;}

.select2-container .select2-selection--multiple .select2-selection__rendered:after,
.select2-container .select2-selection--multiple .select2-selection__rendered:before {
    content: "";
    display: block;
    clear: both;
}

/* For import export button*/

.wext-export-import-wrapper {
    padding: 0 18px 20px;
}

.wext-export-import-wrapper label {
    margin: 10px 0;
    font-weight: 500;
    display: inline-block;
    font-size: 16px;
}

.wext-export-button-wrapper button.wext-import-button {
    background-color: #007694;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    float: right;
}
.wext-export-button-wrapper button.wext-import-button:hover {
    background-color: #375f6b;
}

.wext-export-button-wrapper:before,
.wext-export-button-wrapper:after {
    content: "";
    display: block;
    clear: both;
}
body.wext_admin_body .ultraaddons .warning {
    color: #dd5500;
}



.ultraaddons .switch.switch-reverse .slider {
    background: #2ab934a6;
    border: 1px solid #2ab934 !important;
}
.ultraaddons .switch.switch-reverse .slider span.off {
    color: white;
    font-weight: normal;
}
.ultraaddons .switch.switch-reverse input:checked + .slider {
    background-color: #c5c5c5a6!important;
    border: 1px solid #a8b9a9!important;
}
.ultraaddons .switch.switch-reverse input:checked+ .slider .on {
    display: block;
    color: black;
    font-weight: bold;
}
.ultraaddons .switch.switch-reverse .on, .ultraaddons .switch.switch-reverse .off {
    transform: translate(-71%,-50%);
}

.stick_on_scroll#stick_on_scroll-on,.stick_on_scroll-on,#stick_on_scroll-on{
    position: fixed;
    bottom: 33px;
    right: 50px;
    box-shadow: 0px 10px 30px 0 #00000061;
    padding: 18px 55px;
    font-size: 22px;
    font-weight: normal;
    border-radius: 3px 12px 72px 12px;
    /* background: #4caf50; */
    /* border: 1px solid #3f9b43; */
    z-index: 99999;
}

body.post-type-wext_product_table .stick_on_scroll#stick_on_scroll-on, 
body.post-type-wext_product_table .stick_on_scroll-on, 
body.post-type-wext_product_table #stick_on_scroll-on {
    bottom: 10px;
    right: 10px;
    padding: 6px 24px;
    font-size: 17px;
    font-weight: normal;
    border-radius: 3px 8px 24px 7px;
}